<package xmlns="http://expath.org/ns/pkg" name="http://exist-db.org/apps/xsltforms-demo" abbrev="xsltforms-demo" version="@project.version@" spec="1.0">
    <title>XSLTForms Demo</title>
    <dependency package="http://exist-db.org/apps/xsltforms"/>
    <dependency package="http://exist-db.org/apps/eXide"/>
    <dependency processor="http://exist-db.org" semver-min="2.2.0"/>
</package>
